body {
  margin: 0;
  font-family: 'Inter',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green_header{

  background-color: #2E7C32;
  width:100%;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

h1 {
  padding-bottom: 5px;
  align-content: center;
}

.clear_fridge{
  background-color: #FE4A50;
  width: 166px;
  height: 40px;
  border: none;
  color: white;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
}

.back_to_home{
  display: block;
  align-items: start;
  margin-left: 10px;
  margin-bottom: 10px;

}

.input_food_items{
  height: 30px;
  width: 200px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}